html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: #15153D;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

header {
    background-color: #15153D;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
}



#Logout-button:hover {
    background-color: #e63a2b;
    border-color: #e63a2b;
    box-shadow: 0 6px 12px rgba(230, 58, 43, 0.6);
    transform: translateY(-2px);
}

#Logout-button:active {
    transform: translateY(0px);
    box-shadow: 0 2px 4px rgba(230, 58, 43, 0.3);
}